<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>E-commerce Landing page Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/store.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
		<header>
		<nav id="nav">
			<div class="logo nav-common"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/BRANDY_1x.png" alt="brand-logo"></div>
			<ul class="nav-common">
				<li><a href="{% url 'store' %}">home</a></li>
				<li><a href="{% url 'store' %}#products">products</a></li>
				<li><a href="{% url 'store' %}#collections">collections</a></li>
				<li><a href="#blog">blog</a></li>
				<li><a href="{% url 'store' %}#contact">contact</a></li>
			</ul>
			<div class="cart nav-icon nav-common"><a href="{% url 'cart'%}"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412544/E-commerce%20landing%20page/icons/shopping_cart_1x.png" alt="shopping-cart"></a></div>
			<div class="menu nav-icon nav-common"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/menu_1x.png" alt="hamburger-menu"></div>
		</nav>
			</header>
{% block content %}

{% endblock content %}
</body>

</html>
